KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=system-metrics-topic
KAFKA_GROUP_ID=david2526_monitoring_group
PRODUCER_INTERVAL_SECONDS=5
KPI_WINDOW_SIZE=20

MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=kafka_monitoring_lab
MONGO_RAW_COLLECTION=system_metrics_raw
MONGO_KPI_COLLECTION=system_metrics_kpis
